[Desktop Entry]
Version=1.0
Name=RobotNurseHelper
Comment=A helper application for a robot nurse
Path=/home/chihyuan/RobotNurseHelper/Server
Exec=/bin/bash -c "cd /home/chihyuan/RobotNurseHelper/Server && ./run_server_side_program.sh 4070"
Icon=/home/chihyuan/RobotNurseHelper/Server/ZenboNurse.png
Terminal=false
Type=Application
Categories=Utility;
